<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <table>
      <%= datas.forEach(data => { %>
      <tr>
        <td><%= data %></td>
      </tr>
      <% }) %>
    </table>
  </body>
</html>
