<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%- include layouts/header%>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col s12">
          <h2 align='center'>Fox-Talk</h2>
        </div>
      </div>
      <div class="row">

       <div class="col s12 brand-logo center">
         <!-- Promo Content 1 goes here -->
         <a href="/login" class="waves-effect waves-light btn">Login</a>
         <!-- Promo Content 2 goes here -->
         <a href="/signup" class="waves-effect waves-light btn ">SignUp</a>
       </div>

     </div>
    </div>
  </body>
</html>
